.chat-side
  .chat-side__header
    .chat-side__header__side-box
      .chat-side__header__side-box__user-name
        neko
      .chat-side__header__side-box__icon
        = link_to "#", class: "chat-side__header__side-box__icon" do
          = icon('far', 'edit', class: "chat-side__header__side-box__icon__edit")
          %span<>
        = link_to "#", class: "chat-side__header__side-box__icon" do
          = icon('fas', 'cog',  class: "chat-side__header__side-box__icon__cog")
          %span<>
  .chat-side__main